.el-checkbox-label {
  display: grid;
  gap: 2px 8px;
  grid-template:
    "input label" 24px
    ". supplementary-info" auto / 24px auto;
  align-items: center;
}

.el-checkbox-input {
  appearance: none;
  box-sizing: border-box;
  grid-area: input;
  width: 100%;
  padding: 0;
  outline: none;
  border-radius: 2px;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--colour-border-white), 0 0 0 4px var(--colour-border-focus);
    width: auto;
    padding: 11px;
    margin-left: 1px;
  }
}

.el-checkbox-icon {
  display: none;
  grid-area: input;
  width: 100%;
  color: var(--comp-select-colour-icon-default-unchecked);

  &:hover {
    color: var(--comp-select-colour-icon-hover-unchecked);
  }

  .el-checkbox-input:not(:checked, :indeterminate) ~ & {
    display: block;
  }
  
  .el-checkbox-input:disabled ~ & {
    color: var(--comp-select-colour-icon-disabled-unchecked);
  }
}

.el-checkbox-selected-icon {
  display: none;
  grid-area: input;
  width: 100%;
  color: var(--comp-select-colour-icon-default-checked);

  &:hover {
    color: var(--comp-select-colour-icon-hover-checked);
  }

  .el-checkbox-input:checked:not(:indeterminate) ~ & {
    display: block;
  }

  .el-checkbox-input:disabled ~ & {
    color: var(--comp-select-colour-icon-disabled-checked);
  }
}

.el-checkbox-indeterminate-icon {
  display: none;
  grid-area: input;
  width: 100%;
  color: var(--comp-select-colour-icon-default-checked);

  &:hover {
    color: var(--comp-select-colour-icon-hover-checked);
  }

  .el-checkbox-input:indeterminate ~ & {
    display: block;
  }

  .el-checkbox-input:disabled ~ & {
    color: var(--comp-select-colour-icon-disabled-checked);
  }
}

.el-checkbox-label-text {
  grid-area: label;

  .el-checkbox-input:disabled ~ & {
    color: var(--comp-select-colour-text-label-disabled);
  }
}

.el-checkbox-supplementary-info {
  grid-area: supplementary-info;

  .el-checkbox-input:disabled ~ & {
    color: var(--comp-select-colour-text-supp_info-disabled);
  }
}
