name: Test PR

on:
  pull_request:
    types: ['opened', 'synchronize']

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
  AWS_REGION: ${{secrets.AWS_REGION}}
  CODACY_PROJECT_TOKEN: ${{secrets.CODACY_PROJECT_TOKEN}}
  CI: true

jobs:
  test-pr:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: seferov/pr-lint-action@master
        with:
          title-regex: '^(?:(?:\[WIP\] ?)?(?:build|ci|chore|docs|task|feat|fix|perf|refactor|revert|style|test)\:(?:\ +?#\d+?\ +?)?.*)|(?:\[Snyk\].*)'
          title-regex-flags: 'g' # optional
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-close-message: 'Closing this pull request since the title does not match %pattern% pattern. Please fix the title and re-open the pull request.'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Node
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install
        run: yarn

      - name: Lint
        run: |
          yarn lint

      - name: TypeCheck
        run: |
          yarn check

      - name: Test
        run: |
          yarn test run --passWithNoTests --coverage --silent

      - name: Codacy Checks
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh)

      - name: Build
        run: |
          yarn build
